{
  "extends": ["airbnb", "prettier", "plugin:react/jsx-runtime"],
  "plugins": ["prettier"],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-no-constructed-context-values": 0,
    "jsx-a11y/label-has-associated-control": ["error", {
      "required": {
          "some": ["nesting", "id"]
      }
    }],
    "jsx-a11y/label-has-for": ["error", {
      "required": {
        "some": ["nesting", "id"]
      }
    }],
    "import/no-extraneous-dependencies":[
      "error",
      {
        "devDependencies":[
            "**/*.config.js",
            "**/*.test.js"
        ]
      }
    ]
  }
}